* {
    margin: 0px;
    padding: 0px;
}

.top_bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.top_bar h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_content {
    height: 880px;
    background: rgb(37,20,25);
    background: linear-gradient(180deg, rgba(37,20,25,1) 0%, rgba(124,124,124,1) 51%, rgba(37,20,25,1) 100%);
    padding: 10px;
}

.about_me {
    display: flex;
    justify-content: space-between;
    height: 260px;
    margin: 10px;
    padding: 10px;
}

.about_me img {
    height: 260px;
    width: auto;
}

.presentation {
    margin-left: 20px;
    padding-bottom: 30px;
    background-color: white;
}

.presentation .title {
    display: flex;
    align-items: center;
    background: rgb(103,103,103);
    background: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(150,150,150,1) 51%, rgba(77,77,77,1) 100%);
    color: white;
    height: 40px;
    align-self: flex-start;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.presentation p,
a {
    padding: 10px;
    margin: 10px;
}

.presentation a {
    color: black;
    padding-bottom: 10px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 280px;
    margin: 0px 10px 10px 0px;
    background: rgb(255,255,255);
    background: linear-gradient(52deg, rgba(255,255,255,1) 46%, rgba(224,151,151,1) 100%);
}
.cards a {
    width: 60px;
}
.cards p {
    height: 180px;
    padding: 0px 10px 0px 10px;
}
.cards h3 {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    background: rgb(103,103,103);
    background: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(150,150,150,1) 51%, rgba(77,77,77,1) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.cards .tech {
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.cards img {
    height: 153px;
}
.cards .images {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cards .images img {
    margin: 10px;
    height: 35px;
}
.cards .images img:nth-last-child(-n+3) {
    margin-top: 10px;
}


.button {
    display: flex;
    justify-content: center;
}

.cards .button_card {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: small;
    color: white;
    background-color: green;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.cards .button_card_family {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: small;
    color: white;
    background-color: green;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100px;
}

.family_contacts {
    height: 550px;
    width: 280px;
    margin: 0px 10px 10px 10px;
}

.fiveEleven {
    height: 550px;
    width: 300px;
    margin: 0px 0px 10px 10px;
}

.info {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.info img {
    height: 20px;
}
.info-contact .contact {
    margin-bottom: 10px;
}
.info-social a {
    color: black;
    font-style: oblique;
}